body {
    background-color: #DFF6FF;
}

/* heading section */

.navbar {
    background-color: #1363DF;
    padding-left: 14.5%;
    padding-right: 14.5%;
}

.catalog-btn {
    border-color: white;
    border-radius: 2rem;
    color: white;
    margin-left: 5%;
}

.container-heading {
    padding: 0;
    padding: 3% 15% 3%;
}

/* .search-bar-container {
    width: 50%;
    margin: auto;
} */


/* categories section */

.categories-container {
    padding: 3% 15% 3%;
}


/***************** MEDIA QUERIES ********************/

/* Extra large and avobe */

@media (min-width: 1400px) {
    /* .search-bar-container {
        width: 40%;
        margin: auto;
    } */
}

/* tablet size and below */

@media (max-width: 992px) {
    .search-bar-container {
        width: 100%;
        margin: auto;
    }

    /* categories section */

    .sopping-cart-text {
        display: none;
    }
}